@model IEnumerable<MovieRentalManagementSystem.Models.Customer>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <td>Discount Percent</td>
        <th>Membership Type</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name) @Html.ActionLink("Details", "Details", new { id = item.Id })


        </td>
        <td>@item.MembershipType.DiscountRate %</td>
        <td>@item.MembershipType.Name </td>
        
    </tr>
}

</table>
